__pycache__/
/venv
/rating
/logs
/app/static/experiment_stimuli
/app/static/embody_drawings/*
cmd.txt
DB_inserts.txt
dumb.sql
scrap_script.py
config.py
*.pyc
*.db
/embody
/app/static/lib
.env
/app/static/*.png
/app/static/embody_images
.vscode/
documentation

/deploy/dbdata/*
/deploy/log/nginx/access.log
/deploy/log/nginx/error.log
