body {
    font-family: Helvetica, Arial, sans-serif;
}

#header{
    background-color: darkslategrey;
    color: white;
    text-align: center;
    
}


#embody-canvas {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    
}

.clear-button {
    margin:10px;
}

.crosshair {cursor: crosshair;}


@keyframes spinner-border {
    to { 
        transform: rotate(360deg); 
    }
} 
.spinner-border{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;width: 1rem;
}
.spinner-border-sm{
    height: 1rem;
    border-width: .2em;
}

.hidden {
    display: none;
}

.progress-bar {
    height:2em;
}
.progress {
    height:2em;
    background-color:rgb(248, 249, 250);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
