body {
    font-family: Helvetica, Arial, sans-serif;
}

#header{
    background-color: darkslategrey;
    color: white;
    text-align: center;
    
}

.hidden {
    display: none;
}

#embody-canvas {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    
}