{% extends "base.html" %}
{% block content %}
  
        
        
      <h1 class="container mt-5 display-4 text-center"><br>{{ _('Welcome to Onni') }}</h1>
        <br>
        <br>
      <p class="lead text-center">{{ _('This is the Human Emotion Systems laboratorys stimulus rating tool. If you have previously started a rating task you can continue that task on this page. If you are a researcher you can create new rating tasks by logging in. Or you can start a new rating task and start rating by selecting a task from the database list below.') }}</p>
      <br>
      <br>
      
      <p class="lead text-center">{{ _('You can choose the language suitable for you from the language menu in the upper right corner') }}</p>
      
      </p>
        <div class="row">
            <div class="col mt-5">
                <h3>{{ _('List of experiments in database:') }}</h3>
                    {% block attributes %}
                    {% for exp in experiments %}
                        
                    {% if exp.status == 'Public' and session['language'] == exp.language %}
                    
                     <ul class="list-group mb-4">
                         <li class="list-group-item active"><span class="font-weight-bold">{{ _('Name:') }}</span> {{ exp.name }} </li>
                         <li class="list-group-item"><span class="font-weight-bold">{{ _('Instruction:') }}</span> {{ exp.short_instruction }}</li>
                        {% if current_user.is_authenticated %}
                        <li class="list-group-item"><span class="font-weight-bold">ID number:</span> {{ exp.idexperiment }} </li>
                        <li class="list-group-item"><span class="font-weight-bold">Language:</span> {{ exp.language }}</li>
                        <li class="list-group-item"><span class="font-weight-bold">Status:</span> {{ exp.status }}</li>
                        {% endif %}
                        
                        {% if exp.use_forced_id == 'On'%}
                        <li class="list-group-item"><span class="font-weight-bold">{{ _('Participation ID is required for this task.') }}</li>
                        {% endif %}
                        
                        <li class="list-group-item">
                        
                        
                        <a class="btn btn-outline-success" href="{{ url_for('consent', exp_id=exp.idexperiment) }}" role="button">{{ _('Begin task') }}</a>
                        <a class="btn btn-outline-success" href="{{ url_for('continue_task', exp_id=exp.idexperiment) }}" role="button">{{ _('Continue task') }}</a>
                        
                            {% if current_user.is_authenticated %}
                            <span class="text-right">
                            <a class="btn btn-outline-info" href="{{ url_for('admin_dryrun', exp_id=exp.idexperiment) }}" role="button">{{ _('AdminRun') }}</a>
                            <a class="btn btn-outline-info" href="{{ url_for('experiment_statistics', exp_id=exp.idexperiment) }}" role="button">{{ _('Statistics') }}</a>
                            <a class="btn btn-outline-info" href="{{ url_for('view_experiment', exp_id=exp.idexperiment) }}" role="button">{{ _('View / Edit') }}</a>
                            
                            {% endif %}
                       
                        </li>
                     </ul>
                    <br>
                    <br>
                    {% endif %}
                    
                    
                    {% if exp.status == 'Public' and session['language'] == "All" %}
                    
                     <ul class="list-group mb-4">
                         <li class="list-group-item active"><span class="font-weight-bold">{{ _('Name:') }}</span> {{ exp.name }} </li>
                         <li class="list-group-item"><span class="font-weight-bold">{{ _('Instruction:') }}</span> {{ exp.short_instruction }}</li>
                        {% if current_user.is_authenticated %}
                        <li class="list-group-item"><span class="font-weight-bold">ID number:</span> {{ exp.idexperiment }} </li>
                        <li class="list-group-item"><span class="font-weight-bold">Language:</span> {{ exp.language }}</li>
                        <li class="list-group-item"><span class="font-weight-bold">Status:</span> {{ exp.status }}</li>
                        {% endif %}
                        {% if exp.use_forced_id == 'On'%}
                        <li class="list-group-item"><span class="font-weight-bold">{{ _('Participation ID is required for this task.') }}</li>
                        {% endif %}


                        <li class="list-group-item">

                        <a class="btn btn-outline-success" href="{{ url_for('consent', exp_id=exp.idexperiment) }}" role="button">{{ _('Begin task') }}</a>
                        <a class="btn btn-outline-success" href="{{ url_for('continue_task', exp_id=exp.idexperiment) }}" role="button">{{ _('Continue task') }}</a
                        
                            {% if current_user.is_authenticated %}
                            <span class="text-right">    
                            <a class="btn btn-outline-info" href="{{ url_for('admin_dryrun', exp_id=exp.idexperiment) }}" role="button">{{ _('AdminRun') }}</a>
                            <a class="btn btn-outline-info" href="{{ url_for('experiment_statistics', exp_id=exp.idexperiment) }}" role="button">{{ _('Statistics') }}</a>
                            <a class="btn btn-outline-info" href="{{ url_for('view_experiment', exp_id=exp.idexperiment) }}" role="button">{{ _('View / Edit') }}</a>
                            
                            {% endif %}
                       
                        </li>
                     </ul>
                    <br>
                    <br>
                    {% endif %}
                    
                    
                    {% if (exp.status == 'Hidden') and (current_user.is_authenticated) and session['language'] == exp.language  %}
                    <br>
                    <h3>Unpublished experiment:</h3>
                     <ul class="list-group mb-4">
                        <li class="list-group-item list-group-item-dark"><span class="font-weight-bold">Name:</span> {{ exp.name }} </li>
                        <li class="list-group-item"><span class="font-weight-bold">Instruction:</span> {{ exp.short_instruction }}</li>
                        {% if current_user.is_authenticated %}
                        <li class="list-group-item"><span class="font-weight-bold">ID number:</span> {{ exp.idexperiment }} </li>
                        <li class="list-group-item"><span class="font-weight-bold">Language:</span> {{ exp.language }}</li>
                        <li class="list-group-item"><span class="font-weight-bold">Status:</span> {{ exp.status }}</li>
                        {% endif %}
                        {% if exp.use_forced_id == 'On'%}
                        <li class="list-group-item"><span class="font-weight-bold">Participation ID is required for this task.</li>
                        {% endif %}


                        <li class="list-group-item">
                        <a class="btn btn-outline-success" href="{{ url_for('consent', exp_id=exp.idexperiment) }}" role="button">Begin task</a>
                        <a class="btn btn-outline-success" href="{{ url_for('continue_task', exp_id=exp.idexperiment) }}" role="button">Continue task</a>
                            {% if current_user.is_authenticated %}
                            
                            <a class="btn btn-outline-info" href="{{ url_for('admin_dryrun', exp_id=exp.idexperiment) }}" role="button">AdminRun</a>
                            <a class="btn btn-outline-info" href="{{ url_for('experiment_statistics', exp_id=exp.idexperiment) }}" role="button">Statistics</a>
                            <a class="btn btn-outline-info" href="{{ url_for('view_experiment', exp_id=exp.idexperiment) }}" role="button">View / Edit</a>
                            
                            
                            {% endif %}
                        </li>
                     </ul>
                    
                    {% endif %}


                    {% if (exp.status == 'Hidden') and (current_user.is_authenticated) and session['language'] == "All"  %}
                    <br>
                    <h3>Unpublished experiment:</h3>
                     <ul class="list-group mb-4">
                        <li class="list-group-item list-group-item-dark"><span class="font-weight-bold">Name:</span> {{ exp.name }} </li>
                        <li class="list-group-item"><span class="font-weight-bold">Instruction:</span> {{ exp.short_instruction }}</li>
                        {% if current_user.is_authenticated %}
                        <li class="list-group-item"><span class="font-weight-bold">ID number:</span> {{ exp.idexperiment }} </li>
                        <li class="list-group-item"><span class="font-weight-bold">Language:</span> {{ exp.language }}</li>
                        <li class="list-group-item"><span class="font-weight-bold">Status:</span> {{ exp.status }}</li>
                        {% endif %}
                        {% if exp.use_forced_id == 'On'%}
                        <li class="list-group-item"><span class="font-weight-bold">Participation ID is required for this task.</li>
                        {% endif %}


                        <li class="list-group-item">
                        <a class="btn btn-outline-success" href="{{ url_for('consent', exp_id=exp.idexperiment) }}" role="button">Begin task</a>
                        <a class="btn btn-outline-success" href="{{ url_for('continue_task', exp_id=exp.idexperiment) }}" role="button">Continue task</a>
                            {% if current_user.is_authenticated %}
                            
                            <a class="btn btn-outline-info" href="{{ url_for('admin_dryrun', exp_id=exp.idexperiment) }}" role="button">AdminRun</a>
                            <a class="btn btn-outline-info" href="{{ url_for('experiment_statistics', exp_id=exp.idexperiment) }}" role="button">Statistics</a>
                            <a class="btn btn-outline-info" href="{{ url_for('view_experiment', exp_id=exp.idexperiment) }}" role="button">View / Edit</a>
                            
                            
                            {% endif %}
                        </li>
                     </ul>
                    
                    {% endif %}
                     
                    {% endfor %}
                    {% endblock %}
            </div>
        </div>
    

{% endblock %}