{% extends "base.html" %}
{% block content %}

<br>
<br>    

{% if session['randomization']=='Off' %}
    
    
    {% if session['type']=='text' %}
        <div class="container text-center mt-5 pt-5">
            {% for page in pages.items %}
            <h3 class="text-center mt-5"><br>{{ page.text }}</h3>
            {% endfor %}
        </div>
           <br><br><br><br><br>
    {% endif %}
    
    
    {% if session['type']=='picture' %}
        <div class="container stimulus col-9 mt-5 pt-5">
            {% for page in pages.items %}
                <img src="/{{ page.media }}" class="img-fluid">
            {% endfor %}
        </div>
    {% endif %}
    
    
    {% if session['type']=='video' %}
        <div class="col-9 container stimulus mt-5 pt-5">
            {% for page in pages.items %}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="/{{ page.media }}" allowfullscreen></iframe>
                </div>
            {% endfor %}
        </div>
    {% endif %}


    {% if session['type']=='audio' %}
        <div class="col-4 container stimulus mt-5 pt-5">
            {% for page in pages.items %}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="/{{ page.media }}" allowfullscreen></iframe>
                </div>
            {% endfor %}
        </div>
    {% endif %}


{% else %}



    {% if session['type']=='text' %}
        <div class="container text-center mt-5 pt-5">
            {% for page in pages.items %}
            <h3 class="text-center mt-5"><br>{{ randomized_stimulus.text }}</h3>
            {% endfor %}
        </div>
           <br><br><br><br><br>
    {% endif %}
    
    
    {% if session['type']=='picture' %}
        <div class="container stimulus col-9 mt-5 pt-5">
            {% for page in pages.items %}
                <img src="/{{ randomized_stimulus.media }}" class="img-fluid">
            {% endfor %}
        </div>
    {% endif %}
    
    
    {% if session['type']=='video' %}
        <div class="col-9 container stimulus mt-5 pt-5">
            {% for page in pages.items %}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="/{{ randomized_stimulus.media }}" allowfullscreen></iframe>
                </div>
            {% endfor %}
        </div>
    {% endif %}


    {% if session['type']=='audio' %}
        <div class="col-4 container stimulus mt-5 pt-5">
            {% for page in pages.items %}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="/{{ randomized_stimulus.media }}" allowfullscreen></iframe>
                </div>
            {% endfor %}
        </div>
    {% endif %}


{% endif %}








    
    <br>
 
 <h4 class="text-center">Rate the above stimulus based on these categories</h4>

  <form class="form-group mt-5" action="" method="post">
    {% for category in form.categories1 %}
        {% for scale in form.categories1[category] %}
            <div class="row form-group">
                <div class="col-2 text-center">
                    <p>{{ scale[0] }}</p> 
                </div>
                <div class="col text-center">
                    <label for="customRange">{{ category[1] }}</label>
                    <input type="range" class="custom-range" id="customRange" name={{ category[0] }}>
                    
                </div>
                <div class="col-2 text-center">
                <p>{{ scale[1] }}</p> 
                </div>
            </div>
         {% endfor %}   
    {% endfor %}
        <div class="form-row text-center">
            <div class="col-12">
                <a class="btn btn-primary" href={{ url_for('quit_task') }} role="button">Quit task</a>
                <button type="submit" class="btn btn-primary">Next page</button>
            </div>
        </div>    
  </form>  
    
{% endblock %}